/**
* z-index:
*   3     - .page-header__wrapper
*   (2)   - .page-header__sub-nav
*   1     - .slider
*   10    - .page-header__logo
*/


/**
* BOLD STYLE TEXT

font: 800 18px/24px Gilroy, Tahoma, sans-serif;
// letter-spacing: 3.5px;

*/
/**
* DEFAULT STYLE TEXT

font: 400 15px/30px 'Open Sans', Tahoma, sans-serif;

*/

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  src: local('Gilroy Light'),
    url('../fonts/web/gilroylight.woff2') format('woff2'),
    url('../fonts/web/gilroylight.woff') format('woff'),
    url('../fonts/web/gilroylight.ttf') format('ttf'),
    url('../fonts/web/gilroylight.eot') format('eot'),
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy Extra Bold'),
    url('../fonts/web/gilroyextrabold.woff2') format('woff2'),
    url('../fonts/web/gilroyextrabold.woff') format('woff'),
    url('../fonts/web/gilroyextrabold.ttf') format('ttf'),
    url('../fonts/web/gilroyextrabold.eot') format('eot'),
}

/* START GLOBAL_STYLES */

html { box-sizing: border-box; }
body {
  margin: 0;

  font: 400 15px/30px 'Open Sans', Tahoma, sans-serif;

  color: #000000;
}
/*img { max-width: 100% } */
a { 
  text-decoration: none;
  color: inherit;
}

*, *::before, *::after { box-sizing: inherit; }

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn {
  position: relative;
  display: block;


  font: 800 18px/24px Gilroy, Tahoma, sans-serif;
  letter-spacing: 3.5px;

  outline: none;
  border: none;
  background: transparent;

  text-transform: uppercase;
  text-align: center;

  padding: 9px 0px;

  box-sizing: border-box;

  cursor: pointer;

}

.btn_small { width: 160px; }
.btn_medium { width: 220px; }
.btn_large { width: 260px; }

.btn::before {
  content: "";

  text-align: center;
  line-height: inherit;

  display: block;
  

  position: absolute;
  top: 18px;
  bottom: 18px;
  left: 0;
  right: 0;

  background: #f0c52e;

  transition: top .3s, bottom .3s;

  z-index: -1;
}

.btn:hover::before  {
  top: 0;
  bottom: 0;
}

/* Попапы и всплывающие элементы сейчас стилизовать не нужно. Скройте их с помощью display: none. */
.modal {
  display: none;
}




.page-header {
  position: relative;

  width: 1160px;
  height: 186px;

  margin: 0 auto;
  margin-top: 40px;

  
  background-color: #f7e296;
}

.page-header__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  padding: 43px 60px;



  background-color: #f7e296;
  z-index: 3;
}

.page-header__logo {
  position: absolute;
  left: 0;
  top: -20px;

  z-index: 10;
  display: block;

  margin-left: 60px;
}

.page-header__logo img {
  display: block;
  width: 163px;
  height: 35px;
}

/* search form */
.page-header__search {
  position: relative;
}

.page-header__search button {
  position: absolute;
  right: 0;
  bottom: 0;

  background: transparent;
  border: 2px solid #000000;
  color: #000000;

  padding: 5px 10px;

  font: inherit;

  opacity: 0;
  transition: opacity .3s, background-color .2s, color .2s;
}

.page-header__search input {
  background: 
    transparent 
    url('../img/icons/search.svg') 
    no-repeat left center;

  outline: none;
  border: none;
  border-bottom: 2px solid transparent;

  padding: 7px 38px;
  
  width: 441px;

  transition: border-color .3s;
}

.page-header__search input::placeholder {
  transition: opacity .3s;

  color: #000000;

  opacity: .3;
}

/* header__search action styles */
.page-header__search input:hover::placeholder {
  opacity: .6;
}
.page-header__search input:focus ~ button { 
  opacity: 1;
}
.page-header__search button:focus { 
  opacity: 1;
}
.page-header__search input:focus::placeholder {
  opacity: 1;
}
.page-header__search input:focus {
  border-bottom-color: #000000;
}

.page-header__search button:hover,  
.page-header__search button:focus { 
  background-color: #000000;
  color: #ffffff;
} 
.page-header__search button:active { 
  color: #4d4d4d;
}

.page-header__second-nav a {
  position: relative;

  padding-left: 20px;
}


/* icons via pseudo classes */

.page-header__second-nav .page-header__signin {
  margin: 0px 173px 0 57px;
  padding-left: 27px;
}
.page-header__signin::before,
.page-header__compare::before,
.page-header__basket::before {
  content: "";

  display: block;
  position: absolute;

  left: 0px;
  top:  50%;
  transform: translateY(-60%);
  
  width: 13px;
  height: 13px;

  background: url('../img/icons/user.svg') no-repeat;
}
.page-header__compare::before {background-image: url('../img/icons/compare.svg')}
.page-header__basket::before {background-image: url('../img/icons/cart.svg')}

/* secons nav */
.page-header__second-nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
}

.page-header__links {
  display: flex;
  justify-content: space-between;

  font: 800 18px/24px Gilroy, Tahoma, sans-serif;

  text-transform: uppercase;
  letter-spacing: 3.5px;
}

.page-header__links a:nth-child(2) { margin-left: 259px; }
.page-header__links a:nth-child(3) { margin-right: 73px; }

/* header links more action*/
.page-header__links-more { 
  position: relative;

  background: transparent;
  border: none;

  padding-right: 28px;

  cursor: pointer;
}

.page-header__links-more::after {
  content: "";

  position: absolute;
  right: 0px;
  top: 50%;
  transform: rotate(0deg) translateY(-50%);

  width: 16px;
  height: 16px;

  opacity: .3;

  background-image: 
    linear-gradient(to bottom, transparent 42%, black 42%, black 58%, transparent  58%),
    linear-gradient(to left, transparent  42%, black 42%, black 58%, transparent  58%);

  transform-origin: 8px 0px;
  transition: transform .5s;
}

.page-header__links-more-checkbox:focus ~ .page-header__wrapper .page-header__links-more {
  outline-color: rgb(77, 144, 254); /* #4D90FE */
  outline-offset: -2px;
  outline-style: auto;
  outline-width: 5px;
}
.page-header__links-more-checkbox:checked ~ .page-header__wrapper .page-header__links-more::after {
  transform: rotate(45deg) translateY(-50%);
}
.page-header__links-more-checkbox:checked ~ .page-header__sub-nav {
  transform: translateY(180px);
  visibility: visible;
}

.page-header__sub-nav {
  z-index: 2; /* 3*/
  position: absolute;

  left: 0;
  right: 0;
  top: 0;

  

  height: 129px;
  background: #f7e296;

  visibility: hidden;
  transform: translateY(0px);
  transition: transform .5s ease-out, visibility .5s ease-in;

  padding-left: 60px;
}

.page-header__sub-nav ul {
  height: inherit;

  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}

.page-header__sub-nav li {
  margin-bottom: 10px;
}

/* transitions opacity */
.page-header a, 
.page-header__links-more {
  transition: opacity .3s;
}
.page-header a:hover,
.page-header a:focus,
.page-header__links-more:hover,
.page-header__links-more:focus {
  opacity: .6;
}
.page-header a:active,
.page-header__links-more:active {
  opacity: .3;
}


/* FOOTER */
.page-footer {
  background-color: #464646;

  padding: 64px 0px;

  color: #ffffff;

}

.page-footer__wrapper {
  display: flex;

  justify-content: space-between;
  flex-direction: column;

  width: 1160px;
  margin: 0 auto;
}

.page-footer__wrapper section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__center {
  display: flex;
  justify-content: space-between;
  width: 430px;
  flex-wrap: wrap;

  list-style: none;

  padding: 0;
  margin: 0;
}

.page-footer__user-panel {
  max-width: 60%;

  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.page-footer__user-panel-element {
  margin-left: 40px;

  transition: opacity .3s;
  opacity: .7;

  position: relative;

  padding-left: 20px;
}

.page-footer__user-panel-element:hover,
.page-footer__user-panel-element:focus {
  opacity: 1;
}
.page-footer__user-panel-element:active {
  opacity: .3;
}

.page-footer__user-panel-element::before {
  content: "";

  display: block;
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);

  width: 13px;
  height: 13px;

  background: url(../img/icons/user-yellow.svg) no-repeat;
}

.page-footer__user-panel-element_compare::before {
  background-image: url('../img/icons/compare-yellow.svg')
}
.page-footer__user-panel-element_basket::before {
  background-image: url('../img/icons/cart-yellow.svg')
}

.page-footer__anchors { 
  font: 800 18px/24px Gilroy, Tahoma, sans-serif;
  letter-spacing: 3.5px;
}

.page-footer__section-line {
  width: 80px;
  height: 7px;

  display: block;

  background: #f0c52e;

  margin: auto 0;
}

.page-footer__social {
  font-size: 0;

  width: 140px;
}

.page-footer__soc-icon {
  display: block;

  width: 32px;
  height: 32px;

  border: 1px solid #5e5e5e;

  border-radius: 50%;
  opacity: .3;
  transition: opacity .3s;
  background: top center no-repeat;
  background-size: cover;
}

.page-footer__soc-icon:hover,
.page-footer__soc-icon:focus {
  opacity: 1;
}
.page-footer__soc-icon:active {
  opacity: .1;
}

.page-footer__soc-icon_fb {
  background-image: url('../img/icons/fb.svg');
}
.page-footer__soc-icon_inst {
  background-image: url('../img/icons/instagram.svg');
}
.page-footer__soc-icon_tw {
  background-image: url('../img/icons/twitter.svg');
}

.page-footer_interactive {
  opacity: 1;
  transition: opacity .3s;
}

.page-footer_interactive:hover,
.page-footer_interactive:focus {
  opacity: .6;
}
.page-footer_interactive:active {
  opacity: .3;
}

/* styles by page */

.index-page .page-header {
  height: 300px;
}
/* END GLOBAL_STYLES */










/* LOCAL STYLES FOR INDEX.HTML */
/* SLIDER */

.slider {
  position: relative;
  z-index: 1;

  transform: translateY(-100px);

  width: 1160px;
  margin: 0 auto
}

.slider__list {
  list-style: none;
  padding: 0;
  display: flex;

  overflow: hidden;
}

.slider__item {
  display: flex;
  flex: 1160px 0 0;

  padding: 0 80px 0 80px;

  transition: margin .3s;
}

.slider__nav {
  position: absolute;

  right: 82px;
  top: 320px;
}


/* POPULARS */
.populars {
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.populars ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;


  list-style: none;
  padding: 0;
  width: 1160px;
  margin: 0 auto
}

.populars li {
  width: 160px;
}

.populars__image-wrapper {
  display: flex;

  width: 160px;
  height: 160px;
  background-color: #f7e296;

  transition: background-color .3s;
}
.populars__image-wrapper img { 
  margin: auto;
  transition: opacity .3s;
}

.populars__sub {
  font: 800 18px/24px Gilroy, Tahoma, sans-serif;
  transition: opacity .3s;
}

.populars__item-link:hover .populars__image-wrapper,
.populars__item-link:focus .populars__image-wrapper,
.populars__item-link:active .populars__image-wrapper {
  background-color: #f0c52e;
}

.populars__item-link:active .populars__sub {
  opacity: .3;
}
.populars__item-link:active .populars__image {
  opacity: .3;
}

/* SERVICES */

.services {
  width: 100%;
  background: linear-gradient(transparent 100px, #e5e5e5 100px);

  margin-bottom: 100px;
}

.services__wrapper {
  display: flex;
  width: 1160px;
  margin: 0 auto;
  padding-bottom: 69px;
}


.services__list {
  list-style: none;
  padding: 80px 0;
  margin: 0;
  
  border-right: 7px solid black;
}

.services__item {
  margin-right: 117px;
  z-index: 1;
}

.services__desc-list {
  list-style: none;
  padding: 0;
  display: flex;
}



/* BRANDS */

.brands {
  display: flex;
  justify-content: space-between;
  width: 1160px;

  margin: 0 auto;
  margin-bottom: 100px;;
}

.brands a {
  filter: grayscale(1);
  transition: filter .3s;
}
.brands a:hover, 
.brands a:focus {
  filter: grayscale(0);
}




/* INFORMATION */

.information {
  display: flex;
  flex-wrap: wrap;

  width: 1160px;
  
  margin: 0 auto;
  
}

.information__block .btn {
  position: absolute;

  left: 20px;
  bottom: 0;
}

.information__block {
  position: relative;
  
  width: 50%;

  padding: 0 20px 100px 20px;

  margin-bottom: 100px;
}
.information__block::before {
  content: "";

  position: absolute;
  top: 0;
  left: 20px;

  width: 80px;
  height: 7px;

  background: #000000;
}

.information__title-text {
  font: 800 47px/48px Gilroy, Tahoma, sans-serif;
  margin-bottom: 60px;
}

.information__sub-text {
  color: #464646;
  margin-bottom: 40px;

  width: 90%;
}

.information__list {
  padding: 0;
  margin: 0;

  

  list-style: none;
}

.information__list li {
  position: relative;

  font: 800 18px/24px Gilroy, Tahoma, sans-serif;

  padding-left: 35px;
  margin-bottom: 22px;
}
.information__list li::before {
  content: "";

  display: block;

  position: absolute;

  left: 0;
  top: 50%;

  transform: translateY(-50%);

  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;

  border-radius: 50%;
}

.information__image {
  display: block;
  width: 560px;
  height: 222px;
}














/* LOCAL STYLES FOR CATALOG.HTML */
/* sub-header */

.sub-header {
  width: 1160px;
  margin: auto;
  padding: 38px 60px;
  margin-bottom: 6px;
}

.sub-header__headline {
  font: 800 47px/48px Gilroy, Tahoma, sans-serif;
  letter-spacing: .5px;
  margin: 0;
  margin-bottom: 18px;
}

.breadcrumbs {
  display: flex;
  list-style: none;

  padding: 0;
  margin: 0;
}

.breadcrumbs__item {
  position: relative;

  letter-spacing: -0.5px;

  font-size: 14px;

  padding-right: 40px;
}

.breadcrumbs__item a {
  opacity: .3;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";

  position: absolute;

  right: 20px;
  top: 50%;


  width: 5px;
  height: 5px;

  border: 1px solid #000000;
  border-bottom: transparent;
  border-left: transparent;

  transform: rotate(45deg) translateY(-60%);
}




/* SORT */



.catalog-container {
  position: relative;
  display: flex;
  width: 1160px;
  margin: 0 auto;
}




.sort {
  background: rgba(0, 0, 0, .08);
  height: 70px;
}

.sort__wrapper {
  display: flex;
  align-items: center;

  width: 1211px;
  height: inherit;

  margin: auto;
  padding-left: 432px;
}

.sort__title {
  font: 800 16px/24px Gilroy, Tahoma, sans-serif;
  letter-spacing: 4px;

  text-transform: uppercase;

  margin-right: 45px;
}

.sort__type {
  margin-right: 30px;

  font-size: 14px;

  opacity: .3;
}

.sort__type_active {
  opacity: 1;
}

.sort__list {
  display: flex;

  list-style: none;

  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.sort__action {
  margin-left: auto;
}

.sort__arrow {
  position: relative;


  font-size: 0px;

  margin-right: 20px;


  border: 12px solid #000000;

  border-left-width: 6px;
  border-right-width: 6px;

  
  border-left-color: transparent;
  border-right-color: transparent;

  opacity: .2;
}

.sort__arrow_up {
  border-top-color: transparent;
  
  top: -6px;
}
.sort__arrow_down {
  border-bottom-color: transparent;
  top: 6px;
}
.sort__arrow_active {
  opacity: 1;
}


/* FILTERS */

.filters {
  margin-top: -67px;
  background: rgba(0, 0, 0, .08);

  position: absolute;
  top: 0;
  right: 832px;
  left: -100vw;
  bottom: 0;
}

.filters label {
  cursor: pointer;
}

.filters__wrapper {
  position: absolute;
  top: 0;
  right: 70px;

  width: 200px;
}

.filters__title {
  font: 800 16px/24px Gilroy, Tahoma, sans-serif;
  letter-spacing: 4px;
  margin: 21px 7px;

  margin-bottom: 100px;
  text-transform: uppercase;
}

.filters__subtitle {
  font: 800 18px/24px Gilroy, Tahoma, sans-serif;
  padding-top: 15px;
}

.filters__subtitle {
  border-top: 2px solid #000000;
}

.filters__range-wrapper {
  height: 45px;
  margin: 35px 0;
}

.filters__label {
  position: relative;
  font-size: 14px;
  line-height: 40px;

  padding-left: 40px;
}

.filters__input {
  display: none;
}

.filters__label::before, .filters__label::after {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);

  display: block;
  
  width: 24px;
  height: 24px;  
}

.filters__label::after {
  opacity: 0;
  transition: opacity .3s;
}


/* modifcs */
.filters__label_checkbox::before, 
.filters__label_checkbox::after {
  background: url(../img/icons/checkbox-off.svg) center center no-repeat;
  background-size: cover;
}
.filters__label_checkbox::after {
  background-image: url('../img/icons/checkbox-on-line.svg');
}
.filters__label_round::before, 
.filters__label_round::after {
  border: 4px solid black;
  border-radius: 50%;
}
.filters__label_round::after {
  width: 0;
  height: 0;
  
  top: 50%;
  left: 8px;
  transform: translateY(-50%);
}

.filters__label_checkbox::after {
  background-image: url('../img/icons/checkbox-on-line.svg');
}



.filters__input:checked ~ .filters__label::after {
  opacity: 1;
}

.filters .btn {
  width: 100%;
}

/* CONTENT */

.content {
  padding: 72px;
  padding-right: 0;
  
  margin-left: 327px;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 360px;

  justify-content: space-between;

  margin: 0;
  padding: 0;

  list-style: none;
}

.content__item {
  margin-bottom: 50px;
}

.content__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content__title {
  width: 65%;
  font: 800 18px/24px Gilroy, Tahoma, sans-serif;
}

.content__price {
  font: 400 16px/24px Gilroy, Tahoma, sans-serif;
}