.DS_Store
.idea
.vscode
*.ai
*.log
*.pdf
*.psd
*.sublime*
node_modules/
npm-debug.*
Thumbs.db

.stylelintrc.json
package-lock.json

# favicons
browserconfig.xml
favicon*
android-chrome-*
apple-touch-icon.png
mstile-150x150.png
safari-pinned-tab.svg
site.webmanifest